/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2027;
}

header {
    background-color: #17131d;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Aligns links to the right */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 10px 15px; /* Adjust padding for the links */
}

nav ul li a:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #ddd7ec;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.section {
    padding: 20px;
}

.grey {
    background-color: #222029;
    color: #ffff;
}

.black {
    background-color: #000;
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* Shopping Cart Cards */
.cart {
    width: calc(20% - 40px); 
    padding: 20px;
    margin: 20px; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    float: left;
}

.cart img {
    width: 100%;
    border-radius: 5px;
}

.cart h3 {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.cart .price {
    text-align: center;
    color: #666;
}

.cart button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart button:hover {
    background-color: #555;
}
